$white:#f0f8ff;
$dark-blue:#474090;
$pink:#c17d88;
$transparent-grey: rgba(0,0,0,0.5);

$light-grey:#EEEEEE;

$moderate-grey:#CCCCCC;

$black: black;

/* form colours  */
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;