/* form styling */

//=====================//
/*  modal form styling */
//=====================//
.form__group {
    position: relative;
    padding: 0.9375em 0 0;
    margin:0;

    padding-top: 1.25em;

    width: 100%;
}

.form__field {

    width: 100%;
    border: 0;
    border-bottom:  0.125em solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $dark-blue;
    padding: 0.4375em 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.05rem;
        cursor: text;
        top: 1.25em;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $dark-blue;
        font-weight:700;    
    }

    padding-bottom:  0.375em;  
    font-weight: 700;
    border-width: 0.1875em;
    border-image: linear-gradient(to right, $dark-blue,$pink);
    border-image-slice: 1;
}
.modal__city{
    margin-top: 0.3125em;
}
.modal__country {
    margin-top:1.125em;
    margin-bottom: 1.25em;
}

/* reset input */
.form__field {
    &:required,&:invalid { box-shadow:none; }
}

