/* form styling */

//=====================//
/*  modal form styling */
//=====================//
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin:0;

    padding-top: 20px;

    width: 100%;
}

.form__field {

    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $dark-blue;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.05rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $dark-blue;
        font-weight:700;    
    }

    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $dark-blue,$pink);
    border-image-slice: 1;
}
.modal__city{
    margin-top: 5px;
}
.modal__country {
    margin-top: 18px;
    margin-bottom: 20px;
}

/* reset input */
.form__field {
    &:required,&:invalid { box-shadow:none; }
}

